<p id="notice"><%= notice %></p>

<p>
  <strong>Form link:</strong>
  <%= @other_forms_link.form_link %>
</p>

<%= link_to 'Edit', edit_other_forms_link_path(@other_forms_link) %> |
<%= link_to 'Back', other_forms_links_path %>
