<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @language_dialect.language %>
</p>

<%= link_to 'Edit', edit_language_dialect_path(@language_dialect) %> |
<%= link_to 'Back', language_dialects_path %>
