<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @special_skill.skill %>
</p>

<%= link_to 'Edit', edit_special_skill_path(@special_skill) %> |
<%= link_to 'Back', special_skills_path %>
