<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @actor_weight.weight %>
</p>

<%= link_to 'Edit', edit_actor_weight_path(@actor_weight) %> |
<%= link_to 'Back', actor_weights_path %>
