<p id="notice"><%= notice %></p>

<p>
  <strong>Audition:</strong>
  <%= @audition_link.audition %>
</p>

<%= link_to 'Edit', edit_audition_link_path(@audition_link) %> |
<%= link_to 'Back', audition_links_path %>
