<p id="notice"><%= notice %></p>

<p>
  <strong>Height:</strong>
  <%= @actor_height.height %>
</p>

<%= link_to 'Edit', edit_actor_height_path(@actor_height) %> |
<%= link_to 'Back', actor_heights_path %>
